/* VARIABLES, FONTS, MIXINS... */
@font-face {
  font-family: 'HUGEAvantGardeBold';
  src: url("/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/huge_agb_v5-webfont.woff") format("woff"), url("/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'Galaxie';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'Galaxie';
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg"); }
.primary-navigation, #main-nav > ul {
  font: 21px/48px 'HUGEAvantGardeBold'; }

.secondary-navigation, #main-nav > ul > li ul {
  font: 16px/48px 'Galaxie'; }

.headline, section.banner h1 {
  font: 120px/132px 'HUGEAvantGardeBold'; }
  @media only screen and (max-width: 768px) {
    .headline, section.banner h1 {
      font: 44px/48px 'HUGEAvantGardeBold'; } }

body {
  font: 24px/36px 'Galaxie'; }
  @media only screen and (max-width: 768px) {
    body {
      font: 14px/24px 'Galaxie'; } }

/* DEFAULT PAGE STYLES */
body {
  background: #fff;
  color: #000;
  margin: 0;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    body.main-nav-opened #page-container {
      left: 80%; } }

a {
  text-decoration: none; }

#page-container {
  position: absolute;
  overflow: auto;
  top: 72px;
  left: 0%;
  bottom: 0;
  width: 100%;
  transition: left 0.3s linear; }

section.banner {
  width: 100%;
  position: relative; }
  section.banner .banner-img {
    background: url(../images/background-image.jpg) center;
    background-size: cover;
    min-height: 640px; }
    @media only screen and (max-width: 768px) {
      section.banner .banner-img {
        min-height: 240px; } }
  section.banner h1 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    letter-spacing: -0.02em;
    text-align: center;
    width: 968px; }
    @media only screen and (max-width: 768px) {
      section.banner h1 {
        color: #000;
        display: block;
        position: relative;
        width: auto;
        transform: none;
        left: 0;
        padding: 50px 24px;
        text-align: left; } }

section.container {
  margin: 60px auto;
  width: 968px;
  text-align: justify; }
  @media only screen and (max-width: 768px) {
    section.container {
      width: auto;
      padding: 50px 24px;
      padding-top: 0;
      margin: 0 auto; } }

::selection {
  background: #ec008c;
  color: #fff; }

/* COMPONENTS */
.overflow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0;
  transition: visibility 1s, opacity 0.3s linear;
  visibility: hidden; }

body.main-nav-opened .overflow {
  opacity: 0.5;
  visibility: visible; }
@media only screen and (max-width: 768px) {
  body.main-nav-opened #main-nav > ul {
    visibility: visible;
    left: 0; } }
body.main-nav-opened #main-nav #toggle-open {
  left: 100%;
  margin-left: -72px;
  background-image: url(../images/toggle-close.svg); }
body.main-nav-opened #main-nav .logo {
  left: 0; }

#main-nav {
  height: 100%; }
  #main-nav .nav-bar {
    position: fixed;
    top: 0;
    z-index: 2;
    background: #ec008c;
    width: 100%;
    height: 72px; }
  #main-nav #toggle-open {
    display: none;
    background: url(../images/toggle-open.svg) no-repeat center;
    width: 72px;
    height: 72px;
    cursor: pointer; }
    @media only screen and (max-width: 768px) {
      #main-nav #toggle-open {
        display: inline-block;
        transition: left 0.3s linear;
        position: absolute;
        left: 0; } }
  #main-nav .logo {
    width: 60px;
    height: 24px;
    padding: 24px 48px 24px 24px; }
    @media only screen and (max-width: 768px) {
      #main-nav .logo {
        position: absolute;
        transition: left 0.3s linear;
        left: -100%; } }
  #main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  #main-nav > ul {
    position: absolute;
    width: 100%;
    margin-left: 132px;
    line-height: 72px;
    z-index: 3; }
    @media only screen and (max-width: 768px) {
      #main-nav > ul {
        position: absolute;
        left: -100%;
        margin-left: 0;
        top: 72px;
        bottom: 0;
        width: 80%;
        overflow-y: auto;
        visibility: hidden;
        background: white;
        transition: visibility 1s, left 0.3s linear;
        padding-top: 12px;
        line-height: 48px;
        z-index: 2; }
        #main-nav > ul::after {
          font: 12px/16px 'Helvetica Neue Regular';
          content: '2014 Huge. All Rights Reserved.';
          margin-left: 24px;
          line-height: 48px; } }
    #main-nav > ul > li {
      display: inline-block;
      color: #fff;
      padding: 0;
      cursor: pointer;
      position: relative; }
      #main-nav > ul > li img {
        display: none; }
      #main-nav > ul > li > a, #main-nav > ul > li > span {
        color: #fff;
        display: block;
        padding: 0 24px; }
      #main-nav > ul > li:hover, #main-nav > ul > li.opened {
        background: #fff; }
        #main-nav > ul > li:hover > a, #main-nav > ul > li:hover span, #main-nav > ul > li.opened > a, #main-nav > ul > li.opened span {
          color: #ec008c; }
      @media only screen and (max-width: 768px) {
        #main-nav > ul > li {
          display: block; }
          #main-nav > ul > li.opened > span {
            color: #000; }
          #main-nav > ul > li.opened img {
            transform: rotate(180deg);
            transition: transform 0.1s; }
          #main-nav > ul > li img {
            float: right;
            width: 24px;
            margin-top: 10px;
            display: block; }
          #main-nav > ul > li > a:hover, #main-nav > ul > li > span:hover {
            color: #000;
            background: #eee; } }
      #main-nav > ul > li ul {
        display: none;
        overflow: hidden;
        background: #fff;
        padding: 12px 0; }
        #main-nav > ul > li ul li {
          padding: 0 24px;
          white-space: nowrap; }
          #main-nav > ul > li ul li a {
            color: #000;
            display: block; }
          #main-nav > ul > li ul li:hover {
            background: #eee; }
            #main-nav > ul > li ul li:hover a {
              color: #ec008c; }
      #main-nav > ul > li.opened ul {
        position: absolute;
        display: block;
        top: 100%;
        left: 0; }
        @media only screen and (max-width: 768px) {
          #main-nav > ul > li.opened ul {
            position: inherit;
            padding: 0; } }
      @media only screen and (max-width: 768px) {
        #main-nav > ul > li {
          color: #000; }
          #main-nav > ul > li > a, #main-nav > ul > li > span {
            color: #000; } }

/*# sourceMappingURL=main.css.map */
